{% include "../template-parts/preview-slider.twig" %}

<section class="content">
    <div class="content__container container">
        <div class="content__left-side">

            <div class="content__wrap">
                <div class="content__title">Новости</div>
                <div class="content__news">
                    <div class="news__item news__item--big">
                        <img class="news__img" src="/assets/images/big-news.png" />
                        <div class="news__texts">
                            <div class="content__title-item news__title">Новости культуры России и всего мира</div>
                            <div class="news__desctiption">В минувшие выходные в Москве на фестивале «Оберег» вручили
                                первую
                                премию Russian World Music Awards</div>
                        </div>
                    </div>

                    <div class="news__mini-block">
                        <div class="news__item news__item--small">
                            <img class="news__img" src="/assets/images/big-news.png" />
                            <div class="news__texts">
                                <div class="content__title-item news__title">Открытие нового памятника Евгению Леонову
                                </div>
                                <div class="news__desctiption">10 сентября в 15:00 был открыт памятник писателю</div>
                            </div>
                        </div>
                        <div class="news__item news__item--small">
                            <img class="news__img" src="/assets/images/big-news.png" />
                            <div class="news__texts">
                                <div class="content__title-item news__title">Беседы с писателями</div>
                                <div class="news__desctiption">Русские писатели говорят о важности искусства</div>
                            </div>
                        </div>
                        <div class="news__item news__item--small">
                            <img class="news__img" src="/assets/images/big-news.png" />
                            <div class="news__texts">
                                <div class="content__title-item news__title">День и ночь св. Патрика: встреча старых
                                    друзей</div>
                                <div class="news__desctiption">Не Джойсом единым живет Ирландия!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content__wrap">
                <div class="content__title">ОБЗОРЫ</div>
                <div class="content__review">
                    <div class="review__item">
                        <div class="item__wrap">
                            <img src="/assets/images/review.png" class="item__img" />
                            <div class="display-info" style="display: flex;">
                                <div class="display-info__text">
                                    <div class="display-info__item display-info__views"><i class="fa fa-eye"
                                            aria-hidden="true"></i><span>33</span>
                                    </div>
                                    <div class="display-info__item display-info__comments"><i class="fa fa-comment"
                                            aria-hidden="true"></i><span>33</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__title-item item__title">«Шальные годы» Монпарнаса</div>
                        <div class="item__description">В Музее изобразительных искусств имени Пушкина с 29 сентября по
                            29 ноября проходит выставка «Шальные годы Монпарнаса»</div>
                    </div>
                    <div class="review__item">
                        <div class="item__wrap">
                            <img src="/assets/images/review.png" class="item__img" />
                            <div class="display-info">
                                <div class="display-info__text">
                                    <div class="display-info__item display-info__views"><i class="fa fa-eye"
                                            aria-hidden="true"></i><span>33</span>
                                    </div>
                                    <div class="display-info__item display-info__comments"><i class="fa fa-comment"
                                            aria-hidden="true"></i><span>33</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__title-item item__title">Анатомия за 30 секунд</div>
                        <div class="item__description">Сейчас, когда мир открыт нараспашку для человека и его
                            познавательных изысканий, интерес к научно-популярной литературе заметно вырос</div>
                    </div>
                    <div class="review__item">
                        <div class="item__wrap">
                            <img src="/assets/images/review.png" class="item__img" />
                            <div class="display-info">
                                <div class="display-info__text">
                                    <div class="display-info__item display-info__views"><i class="fa fa-eye"
                                            aria-hidden="true"></i><span>33</span>
                                    </div>
                                    <div class="display-info__item display-info__comments"><i class="fa fa-comment"
                                            aria-hidden="true"></i><span>33</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__title-item item__title">Русские балетные сезоны</div>
                        <div class="item__description">В Новом Иерусалиме стартовал необычный культурно-развлекательный
                            спектакль, который покажут в новом театре</div>
                    </div>
                    <div class="review__item">
                        <div class="item__wrap">
                            <img src="/assets/images/review.png" class="item__img" />
                            <div class="display-info">
                                <div class="display-info__text">
                                    <div class="display-info__item display-info__views"><i class="fa fa-eye"
                                            aria-hidden="true"></i><span>33</span>
                                    </div>
                                    <div class="display-info__item display-info__comments"><i class="fa fa-comment"
                                            aria-hidden="true"></i><span>33</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__title-item item__title">Сферические чудаки</div>
                        <div class="item__description">Корреспондентам «Культурного обозревателя» посчастливилось
                            побывать в театре «Сфера» на премьере спектакля «Чудаки и зануды» </div>
                    </div>
                </div>
                <div class="review__pagination">
                    <div class="pagination">
                        <div class="pagination__arrow pagination__left-arrow"><span>◀</span></div>
                        <div class="pagination__nums">
                            <div class="pagination__current pagination__item">1</div>
                            <div class="pagination__item">2</div>
                            <div class="pagination__item">3</div>
                            <div class="pagination__item">...</div>
                            <div class="pagination__item">33</div>
                        </div>
                        <div class="pagination__arrow pagination__right-arrow"><span>▶</span></div>
                    </div>
                </div>
            </div>

            <div class="content__banner">
                <div class="banner__text">ОХ, УЖ ЭТОТ БАЛЕТ</div>
                <div class="button-page banner__button">
                    <span class="button-page__text">Смотреть</span>
                    <span class="button-page__arrow">🡢</span>
                </div>
            </div>
        </div>

        <div class="content__right-side">
            <div class="right-side__banner" style="background-image: url('./assets/images/right-col-1.png');">
                <div class="banner__title title-page">Воздушные шары</div>
                <button class="banner-button button-page">
                    <span class="button-page__text">Смотреть</span>
                    <span class="button-page__arrow">🡢</span>
                </button>
            </div>
            <div class="right-side__banner"
                style="background-image: url('./assets/images/right-col-2.png'); color: #ffffff;">
                <div class="banner__title title-page">НЕОБЫЧНАЯ ФОТОСЕССИЯ</div>
                <button class="banner-button button-page">
                    <span class="button-page__text">Смотреть</span>
                    <span class="button-page__arrow">🡢</span>
                </button>
            </div>
            <div class="right-side__banner"
                style="background-image: url('./assets/images/right-col-3.png'); color: #ffffff;">
                <div class="banner__title title-page">Выставка птиц</div>
                <button class="banner-button button-page">
                    <span class="button-page__text">Смотреть</span>
                    <span class="button-page__arrow">🡢</span>
                </button>
            </div>
        </div>
    </div>

    <div class="content__slider-posts"></div>
</section>