<section class="preview">
  <div id="preview-slider" class="preview__slider">
    <div class="preview__slider-element">
      <div class="slider-element__container container">
        <div class="preview__tag">НОВОЕ</div>
        <div class="preview__title">Подводный отель</div>
        <div class="preview__description">Как известно, Дубай – город контрастов. Самые революционные
          и фантастические мечты архитекторов способен воплотить в жизнь этот мегаполис, построенный на нефти
          и за счет нефти</div>
      </div>
    </div>
    <div class="preview__slider-element">
      <div class="slider-element__container container">
        <div class="preview__tag">НОВОЕ</div>
        <div class="preview__title">Подводный отель</div>
        <div class="preview__description">Как известно, Дубай – город контрастов. Самые революционные
          и фантастические мечты архитекторов способен воплотить в жизнь этот мегаполис, построенный на нефти
          и за счет нефти</div>
      </div>
    </div>
    <div class="preview__slider-element">
      <div class="slider-element__container container">
        <div class="preview__tag">НОВОЕ</div>
        <div class="preview__title">Подводный отель</div>
        <div class="preview__description">Как известно, Дубай – город контрастов. Самые революционные
          и фантастические мечты архитекторов способен воплотить в жизнь этот мегаполис, построенный на нефти
          и за счет нефти</div>
      </div>
    </div>
  </div>
</section>