<footer class="footer">
    <div class="container footer_container">
        <div class="title-page footer__title-page">Новости культуры</div>

        <div class="footer__navlinks">
            <div class="navlinks">
                {% include "navlinks.twig" %}
            </div>
        </div>

        <div class="footer__signature">
            <div class="footer__underline"></div>
            <div class="footer__signature-text">© 2018 Новости культуры. Все права защищены.</div>
        </div>
    </div>
</footer>