<header class="header">
    <div class="container header_container">
        <div class="title-page header__title-page">Новости культуры</div>

        <div class="header__mobile mobile">
            <div id="menu-btn-open" class="mobile__btn-open">
                <span class="mobile__btn-open--line"></span>
            </div>

            <div id="menu" class="mobile__menu">
                <div id="menu-btn-close" class="mobile__btn-close"></div>

                <div class="menu">
                    {% include "navlinks.twig" %}
                </div>
            </div>
        </div>

        <div class="header__navlinks">
            <nav class="navlinks">{% include "navlinks.twig" %}</nav>
        </div>
    </div>
</header>