.navlinks {
  width: 100%;
  margin: 25px 0;

  ul.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    li.list__item {
      font-size: 15px;
      list-style: none;
      letter-spacing: 2px;
      text-transform: uppercase;

      padding: 0 5px;

      a.list__link {
        color: $color-dark;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}