.title-page {
  width: 100%;

  font-family: $specific-font;
  font-size: $title-page-font-size;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;

  margin: 20px auto; 
  padding: 5px 0;
}